table{
    border-spacing:0.1rem;
    text-align: center;
    position: relative;
    left: 25%;
}
h3{
    text-align: center;
    position: relative;
    right: 10%;
    font-size: x-large;
}
td{
    background-color: sienna;
}
th{
    background-color: steelblue;
}